{
  "project_info": {
    "project_number": "850077575356",
    "project_id": "mediexchange",
    "storage_bucket": "mediexchange.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:850077575356:android:REPLACE_WITH_REAL_APP_ID",
        "android_client_info": {
          "package_name": "com.pharmapp.pharmacy"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_REAL_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
